<div class="page-header">

  <ol class="breadcrumb">
    <li><a><%= link_to "Tasks", project_tasks_path(@project) %> </a></li>
    <li><a><%= link_to @task.description, project_task_path(@project, @task) %></a></li>
    <li class= "active">Edit</li>
  </ol>

  <h1>Editing task</h1>
</div>

  <%= render 'form', button_name: "Update Task" %>
